p, body, td 
{ 
font-family: Tahoma, Arial, Helvetica, sans-serif; 
font-size: 10pt;
margin-right:10px; }
    
body { 
padding: 0px; margin: 0px; background-color: #ffffff;
margin-left:10%; }
    
a { color: #1155a3; }
    
.space { margin: 20px 0px 10px 0px; }
    
.header { 
background: #003267; 
background: linear-gradient(to right, #011329 0%,#00639e 44%,#011329 100%); 
padding:20px 10px; color: white; box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75); 
}
    
.header a { color: white; }
    
.header h1 a { text-decoration: none; }
    
.header h1 { padding: 0px; margin: 0px; }
    
.main { padding: 10px; margin-top: 10px; 
	margin-right:10px;
margin-left:10px;}

.toolbar {
          margin-bottom: 10px;
	margin-left:10%;
      }

      
.toolbar-item a {
          background-color: #fff;
          
border: 1px solid #c0c0c0;
          color: #333;
          
padding: 8px 0px;
          
width: 80px;
          
border-radius: 2px;
          
cursor: pointer;
          
display: inline-block;
          
text-align: center;
         
 text-decoration: none;
     
 }

      
.toolbar-item a.selected-button {
         
 background-color: #f3f3f3;
          
color: #000;
      }

      
/* context menu icons */
      .icon:before {
          position: absolute;
          margin-left: 0px;
          margin-top: 3px;
          width: 14px;
          height: 14px;
          content: '';
      }

      .icon-blue:before { background-color: #3d85c6; }
      
.icon-green:before { background-color: #6aa84f; }
      .icon-orange:before { background-color: #e69138; }
      
.icon-red:before { background-color: #cc4125; }

      /* active areas */
      .area-menu-icon {
          
background-color: #333333;
          box-sizing: border-box;
          xborder: 1px solid white;
          border-radius: 10px;
          
opacity: 0.7;
          color: white;
          display: flex;
          justify-content: center;
          xalign-items: center;
          
font-size: 14px;
      }
/*      .area-menu-icon:hover {
          opacity: 1;
      }*/